body {
  font-family: var(--font-family);
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
/*-------HEADER---------------*/
.page-header {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  background-color: #06071b;
  padding-top: 20px;
}
.container {
  max-width: 336px;
  margin: 0 auto;
}

.header-mob-logo {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  background-image: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
}

.header-text {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
}

.header-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 24px;
}

.header-icon-group {
  stroke-width: 2px;
  stroke: #fff;
}

/*----------ONE-SECTION------------*/
.one-section {
  background-color: #06071b;
  padding-top: 100px;
  padding-bottom: 127px;
  padding-left: 33px;
  color: #fff;
}

.one-section-title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 12px;
}

.one-section-text {
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 28px;
}
.one-section-list {
  font-weight: 400;
  font-size: 12px;
}

.one-section-item {
  font-weight: 400;
  font-size: 12px;
  max-height: 30px;
  padding-right: 46px;
  padding-bottom: 8px;
}
