body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/*-------------CONTAINER--------*/
.container {
  width: 375px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
/*-------HEADER---------------*/
.page-header {
  padding-top: 24px;
  padding-bottom: 18px;
  max-width: 375px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
}

.header-text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: black;
  margin-right: 4px;
}
.header-icon {
  stroke-width: 1.8px;
  fill: orange;
  margin-right: 166px;
}

.header-icon-two {
  fill: black;
}

.header-menu {
  display: none;
}
.header-group-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header {
    max-width: 768px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-bottom: 56px;
    padding-right: 0;
    padding-left: 0;
    min-width: 1136px;
  }
  .one-header {
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    margin-right: 188px;
  }
  .header-icon-two {
    display: none;
  }
  .header-menu {
    display: flex;
    margin-right: 137px;
  }

  .header-menu-title {
    display: flex;
    gap: 24px;
  }

  .header-menu-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: black;
  }
  .header-menu-link {
    color: black;
  }
  .header-group-icon {
    display: flex;
    gap: 18px;
  }
}

.header-group-one {
  stroke-width: 2px;
  fill: black;
}
/*---------ONE SCTION---------*/
.one-section {
  max-width: 375px;
  border-radius: 30px;
  padding-top: 395px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(..//images/chocolate-mob1-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 130px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .one-section {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../images/chocolate-mob1@2x-min.png);
  }
}

.one-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 299px;
  align-items: center;
  padding-bottom: 32px;
}

.one-btn {
  border-radius: 100px;
  padding: 12px 28px;
  width: 120px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: orange;
  margin-right: 14px;
  margin-bottom: 32px;
}

.one-btn-two {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 12px 28px;
  width: 159px;
  height: 41px;
  background-color: transparent;
}
.one-section-group {
  display: flex;
  position: relative;
}

.one-section-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
}

.one-section-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transform: rotate(-90deg);
  background-color: #fff;
  position: absolute;
  transform: translateY(-20%);
  margin-left: 79px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-icon {
  fill: orange;
}

@media screen and (min-width: 768px) {
  .one-section {
    max-width: 768px;
    margin-bottom: 50px;
    padding-left: 40px;
    display: flex;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(..//images/chocolate-tab1-min.jpg);
  }

  .one-section-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #fff;
    max-width: 484px;
    align-items: center;
    padding-bottom: 32px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .one-section {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(..//images/chocolate-tab@2x-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .one-section {
    min-width: 1136px;
    margin-bottom: 54px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(..//images/chocolate-desk-min.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .one-section {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(..//images/chocolate-desk@2x-min.jpg);
  }
}

/*--------SECTION-TWO------------*/
.two-section {
  min-width: 375px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
}

.two-section-title {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.two-section-list {
  padding: 0px 28px 0px 0px;
  width: 336px;
  height: 244px;
}

.two-section-group {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.two-section-icon {
  fill: chocolate;
}

.two-section-item {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.two-section-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .two-section {
    min-width: 768px;
    padding-top: 50px;
    padding-right: 32px;
    padding-bottom: 50px;
    padding-left: 32px;
  }
  .two-section-title {
    column-gap: 0;
    row-gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .two-section {
    min-width: 1200px;
    margin-top: 54px;
    padding: 50px;
  }

  .two-section-title {
    gap: 70px;
  }
}

/*--------THREE-SECTION------------*/
.three-section {
  max-width: 375px;
  padding-top: 72px;
  padding-right: 20px;
  padding-left: 20px;
}

.three-section-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: black;
  margin-bottom: 24px;
  margin-left: 0;
  margin-right: 0;
  max-width: 283px;
}

.three-section-color {
  color: chocolate;
}

.three-section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: black;
  max-width: 335px;
  margin-bottom: 32px;
}

.three-section-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.three-section-list-one {
  border-radius: 15px;
  width: 335px;
  height: 270px;
  background-color: chocolate;
  padding-top: 28px;
  padding-left: 50px;
}

.three-image {
  margin-bottom: 25px;
}

.three-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: black;
}

.three-white {
  color: #fff;
}

.three-section-list-two {
  background-color: #fff;
  border: 1px solid chocolate;
  border-radius: 15px;
  width: 335px;
  height: 270px;
  padding-top: 28px;
  padding-left: 50px;
}

.three-section-list-three {
  background-color: black;
  border-radius: 15px;
  width: 335px;
  height: 270px;
  padding-top: 28px;
  padding-left: 50px;
}

@media screen and (min-width: 768px) {
  .three-section {
    max-width: 768px;
    padding-top: 100px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .three-section-title {
    font-size: 24px;
    line-height: 1.7;
    margin-bottom: 28px;
    max-width: 411px;
    letter-spacing: -0.03em;
    margin-left: auto;
    margin-right: auto;
  }
  .three-section-text {
    max-width: 486px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .three-section-group {
    column-gap: 32px;
    row-gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .three-section {
    max-width: 768px;
    padding-top: 128px;
  }
  .three-section-group {
    gap: 19px;
  }

  .three-section-list-one {
    width: 270px;
    height: 270px;
  }
  .three-section-list-two {
    width: 270px;
    height: 270px;
  }
  .three-section-list-three {
    width: 270px;
    height: 270px;
  }
}
